SUPABASE_READER_EMAIL=email of your account in the database, namely it+<your name here>@politorocketteam.it
SUPABASE_READER_PSW=password of your account in the database

# leave below as it is
PUBLIC_SUPABASE_URL=https://xhppdswwlhomojrlakdk.supabase.co
PUBLIC_SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhocHBkc3d3bGhvbW9qcmxha2RrIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTU5MDE1OTQsImV4cCI6MjAxMTQ3NzU5NH0.yFEOi5Rju5Ru3Q19731tPj56XaTpsUuu1DlEkOif4fI
  