node_modules
*.git
*.svn
*.hg
*.md
*.jpg
*.png
*.gif
*.jpeg
*.jfif
*.bmp
*.ico
*.eot
*.svg
*.ttf
*.woff
*.woff2
*.mp4
*.webm
*.ogv
*.mp3
*.wav
*.flac
*.aac
*.oga
*.m4a
*.webp
*.swf
*.pdf
*.zip
*.rar
*.gz
*.tar.gz
*.tgz
*.bz2
*.7z
*.psd
*.ai
*.eps
*.ps
*.doc
*.docx
*.xls
*.xlsx
*.ppt
*.pptx
*.rtf
*.txt
*.csv
*.exe
*.wasm
*.asm
*.gitignore
*.npmrc
*.prettierignore
*.toml
*.glb
*.xml